<ion-view view-title="Group Details">
	<ion-content class="has-header padding">
		<h1>{{group.name}}</h1>
			<div class="list card">

			  <div class="item item-avatar">
			    <h2>Marty McFly</h2>
			    <p>November 05, 1955</p>
			  </div>

			  <div class="item item-body">
			    <p>
			      So excited for our next group meeting! Don't forget, it's on Wednesday. Come out and join us!
			    </p>
			    <p>
			      <a href="#" class="subdued">1 Like</a>
			      <a href="#" class="subdued">5 Comments</a>
			    </p>
			  </div>

			</div>
			
			<div class="list list-inset">
			  <label class="item item-input">
			    <input type="text" placeholder="Write Something!">
					<button>Post</button>
			  </label>
			</div>
</ion-view>