<ion-view view-title="Groups">
    <ion-content class="padding has-header">
				
				<div class="list">

				  <div class="item item-divider">
				    Interest
				  </div>

				  <a class="item" href="#">
				    Group1
				  </a>
				  <a class="item" href="#">
				    Group2
				  </a>
					
				  <div class="item item-divider">
				    Interest2
				  </div>
					
				  <a class="item" href="#">
				    Group1
				  </a>
				  <a class="item" href="#">
				    Group2
				  </a>

				</div>
		</ion-content>
</ion-view>