<ion-view view-title="Groups">
    <ion-content class="padding has-header">
		<div class="bar bar-header item-input-inset">
	  	<label class="item-input-wrapper">
	    	<i class="icon ion-ios7-search placeholder-icon"></i>
	    	<input type="search" placeholder="Search" ng-model="searchText">
	  	</label>
	  	<button class="button button-clear">
	   	 Cancel
	  	</button>
		</div>
				<div class="list" ng-repeat="object in vm.data | filter:searchText" ng-click="viewDetails(object)">
					
				  <div class="item item-divider">
				    {{object.category}}
				  </div>

				  <a class="item" href="#">
				    {{object.name}}
				  </a>
					

				</div>
				
				
		</ion-content>
</ion-view>