<ion-view view-title="Home">
		  <ion-nav-buttons side="secondary">
		    <button class="button icon ion-gear-a" ui-sref="tab.preferences">
				</button>
		  </ion-nav-buttons>
    <ion-content class="padding has-header">
				
				
				<div class="list card">

				  <div class="item item-body">
				    <p>
				      There are 3 events today that you may be interested in attending.
				    </p>
				  </div>
					<p></p>
				  <div class="item item-body">
						<h3>Groups You Belong To</h3>
				    <p>
				      Beginners Yoga
				    </p>
						<p>
							Women's Choir
						</p>
				  </div>

				</div>
		</ion-content>
</ion-view>