<ion-view view-title="Things to Do">
    <ion-content class="padding has-header">
				<div class="bar bar-header item-input-inset">
			  	<label class="item-input-wrapper">
			    	<i class="icon ion-ios7-search placeholder-icon"></i>
			    	<input type="search" placeholder="Search">
			  	</label>
			  	<button class="button button-clear">
			   	 Cancel
			  	</button>
				</div>
        <div class="bar bar-subheader">
            <div class="list card" ng-repeat="object in vm.data"
                 ng-class="{'active':vm.isCurrent(object.id)}">
                <div class="item item-icon-right item-icon-left">
                    <i class="ion-compose icon" ng-click="vm.setEdited(object)"></i>

                    <h2 class="text-center">{{object.name}}</h2>
                    <i class="icon ion-close-round" ng-click="vm.delete(object.id)"></i>
                </div>
                <div class="item item-body">
                    
                </div>
            </div>
        </div>
		</ion-content>
</ion-view>